@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

h1, h2, h3, p {
    font-family: 'Karla', sans-serif;
}

.container {
    margin: auto;
}

input.input {
    border: 2px solid #2980B9;
    padding: .25rem ;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    height: 20px;
}

input.button {
    margin-top: 1.7em;
    text-align: center;
    border: 0;
    padding: 1em;
    color: white;
    background: #343050;
    text-transform: uppercase;
    border-radius: 5px;
    width: 130px;
    height: 40px;
}

input.button:hover {
    background: #3498D8;
}

div#title {
    width: 100%;
    height: 50px;
}

div.descr {
    width: 350px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}